<div id="<%= dom_id availability %>">
  <p>
    <strong>Day:</strong>
    <%= availability.day %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= availability.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= availability.end_time %>
  </p>

  <p>
    <strong>Preferred:</strong>
    <%= availability.preferred %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= availability.course_id %>
  </p>

</div>
